/*Colors*/
/*font*/
@font-face {
  font-family: "Tara";
  font-style: light;
  font-weight: 100;
  src: url("../font/Tara-Light.eot?") format("eot"), url("../font/Tara-Light.svg#Tara") format("svg"), url("../font/Tara-Light.woff") format("woff"); }
@font-face {
  font-family: "Tara";
  font-style: normal;
  font-weight: 500;
  src: url("../font/Tara-Regular.eot?") format("eot"), url("../font/Tara-Regular.svg#Tara") format("svg"), url("../font/Tara-Regular.woff") format("woff"); }
@font-face {
  font-family: "Tara";
  font-style: bold;
  font-weight: 700;
  src: url("../font/Tara-Bold.eot?") format("eot"), url("../font/Tara-Bold.svg#Tara") format("svg"), url("../font/Tara-Bold.woff") format("woff"); }
@font-face {
  font-family: "karnaf";
  font-style: normal;
  font-weight: 500;
  src: url("../font/karnaflightwebfont.eot?") format("eot"), url("../font/karnaflightwebfont.svg#karnaf") format("svg"), url("../font/karnaflightwebfont.ttf") format("truetype"), url("../font/karnaflightwebfont.woff") format("woff"); }
/* Reset CSS */
blockquote, p, h2, figure {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

ol {
  padding: 0;
  padding-right: 1vw; }

* {
  font-family: inherit;
  box-sizing: border-box; }

/* Styling */
body {
  font-family: 'Tara';
  font-size: 0.937vw;
  color: #ffffff;
  margin: 0; }
  @media (max-width: 640px) {
    body {
      font-size: 2.34103vw; } }

button {
  font-family: 'Tara'; }

input {
  -webkit-appearance: none;
  border-radius: none;
  outline: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill {
  border: 0;
  transition: background-color 5000s ease-in-out 0s; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  color: #ffffff;
  text-decoration: none; }

h1 {
  margin: 0;
  font-size: 5.1044vw;
  font-weight: bold;
  line-height: 4vw; }
  @media (max-width: 640px) {
    h1 {
      font-size: 11.1044vw;
      line-height: 10vw; } }

h2 {
  font-size: 5.1044vw;
  font-weight: 400; }
  @media (max-width: 640px) {
    h2 {
      font-size: 11.2vw; } }

h4 {
  font-size: 2.50130vw;
  margin: 0;
  font-weight: 100; }
  @media (max-width: 640px) {
    h4 {
      font-size: 6.2509vw; } }

.container {
  max-width: 67.4514vw;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 640px) {
    .container {
      max-width: 100%; } }

.container_small {
  max-width: 60.6%;
  /*1165*/
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 640px) {
    .container_small {
      max-width: 100%; } }

.btn_brown, .btn_blue {
  width: 19.688vw;
  border: 0.156vw solid white;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 640px) {
    .btn_brown, .btn_blue {
      width: 59.853vw;
      border: 0.4688vw solid white;
      border-radius: 6vw; } }
  .btn_brown a, .btn_blue a {
    font-size: 2.7605vw;
    line-height: 2.4vw;
    font-weight: 100;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0.5208vw 0 1.1vw 0; }
    @media (max-width: 640px) {
      .btn_brown a, .btn_blue a {
        font-size: 7.5vw;
        line-height: 5.4vw;
        margin: 2.187vw 0 3.812vw 0; } }

.btn_brown {
  background: #672e24; }

.btn_blue {
  background: #3a76bb; }

/*header*/
.menu_mobile {
  display: none;
  width: 5.4696vw;
  max-height: 6.2509vw;
  margin-right: 4.688vw;
  position: relative;
  margin-top: -6.6vw; }
  .menu_mobile a {
    display: inline-block; }
  @media (max-width: 640px) {
    .menu_mobile {
      display: block; } }
  .menu_mobile.active {
    margin-top: 4.6vw; }

header {
  background: #1f2853;
  height: 7.292vw; }
  @media (max-width: 640px) {
    header {
      height: 22.658vw; } }
  header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    header .header_wrap .logo_container {
      width: 7.8vw; }
      @media (max-width: 640px) {
        header .header_wrap .logo_container {
          width: 23.44vw;
          margin-left: 4.688vw; } }

.media_social {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .media_social > div:not(.menu_mobile) a {
    margin: 0 0.6771vw;
    height: 100%;
    display: inline-block; }
    .media_social > div:not(.menu_mobile) a i {
      color: white;
      font-size: 1.6675vw; }

@media (max-width: 640px) {
  header .media_social > div:not(.menu_mobile) {
    margin: 0 auto;
    display: none;
    opacity: 0;
    flex-direction: column-reverse;
    margin-top: 14vw; }
    header .media_social > div:not(.menu_mobile) a {
      margin: 0 auto; }
      header .media_social > div:not(.menu_mobile) a:nth-of-type(2) {
        margin: 11.72vw auto; }
      header .media_social > div:not(.menu_mobile) a i {
        font-size: 8.126vw; } }
@media (max-width: 640px) {
  header .media_social {
    height: 100%;
    width: 39.06vw;
    z-index: 11; }
    header .media_social.active {
      position: relative;
      top: 28.12939vw;
      height: 78.918vw;
      background: rgba(0, 0, 0, 0.7);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      header .media_social.active > div:not(.menu_mobile) {
        display: flex;
        opacity: 1;
        animation: anim .3s ease-in-out; } }

/*section1*/
.section1 {
  background: url("../img/main_back.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 40.522vw;
  text-align: center; }
  @media (max-width: 640px) {
    .section1 {
      display: none; } }
  .section1 .title {
    text-align: center;
    padding-top: 8.2vw; }
    .section1 .title h1 {
      text-shadow: 0.15vw 0.15vw 0.2vw rgba(35, 31, 32, 0.65);
      font-size: 3.75vw;
      line-height: 3.75vw; }
    .section1 .title h4 {
      line-height: 1.9vw;
      margin-top: .9vw;
      font-size: 2vw;
      text-shadow: 0.15vw 0.15vw 0.2vw rgba(35, 31, 32, 0.65); }
      @media (max-width: 640px) {
        .section1 .title h4 {
          line-height: 6vw; } }
  .section1 .video_btn {
    margin: 0 auto;
    padding: 3vw 0 7vw 0;
    opacity: .2; }
    .section1 .video_btn.on {
      opacity: 1;
      transition: opacity .2s ease-in-out; }
    .section1 .video_btn a {
      display: inline-block;
      font-size: 1.5625vw;
      font-weight: 100; }
      .section1 .video_btn a img {
        width: 4.11479vw; }
      .section1 .video_btn a > div {
        border-bottom: 1px solid white;
        padding-bottom: 2px; }
  .section1 .all_video_btn {
    width: 10.4172vw;
    margin: 0 auto;
    border: 1px solid white;
    padding: 0.325vw 0;
    border-radius: 5vw;
    min-height: 2.6043vw;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; }
    .section1 .all_video_btn > a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25vw;
      font-weight: 100;
      width: 100%;
      height: 2.6043vw; }
      .section1 .all_video_btn > a i {
        font-size: 0.677vw;
        margin-right: 0.416vw; }
        .section1 .all_video_btn > a i.fa-times {
          font-size: 1vw; }
      .section1 .all_video_btn > a > div {
        padding-bottom: 0.3646vw; }

/*section1_mobile*/
/*section_videos*/
.section_videos {
  height: 14.0632vw;
  display: none;
  opacity: 0;
  width: 100%;
  position: relative; }
  .section_videos.active {
    display: block;
    opacity: 1;
    animation: anim .3s ease-in-out; }
  @media (max-width: 640px) {
    .section_videos {
      display: block;
      opacity: 1;
      height: 57.04vw; } }
  .section_videos .title_mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    z-index: 10; }
    .section_videos .title_mobile .title {
      text-shadow: 0.35vw 0.35vw 0.45vw rgba(35, 31, 32, 0.65);
      margin: 3.4vw 0 4vw 0; }
      .section_videos .title_mobile .title h1 {
        font-size: 11.1vw;
        line-height: 10vw; }
      .section_videos .title_mobile .title h4 {
        line-height: 5.4vw;
        margin-top: 1.5vw; }
    .section_videos .title_mobile .video_btn {
      display: inline-block;
      opacity: .2; }
      .section_videos .title_mobile .video_btn.on {
        opacity: 1;
        transition: opacity .2s ease-in-out; }
      .section_videos .title_mobile .video_btn img {
        width: 12vw; }
      .section_videos .title_mobile .video_btn div {
        font-size: 4.1vw;
        font-weight: 100;
        border-bottom: 0.25vw solid white;
        padding-bottom: 1vw;
        line-height: 4vw;
        margin-top: .6vw; }
    @media (max-width: 640px) {
      .section_videos .title_mobile {
        display: block; } }
  .section_videos .swiper-container {
    width: 100%;
    height: 100%; }
    .section_videos .swiper-container .swiper-wrapper {
      width: 100%;
      height: 100%; }
      .section_videos .swiper-container .swiper-wrapper .swiper-slide {
        width: 25%; }
        @media (max-width: 640px) {
          .section_videos .swiper-container .swiper-wrapper .swiper-slide {
            width: 100%; } }
        .section_videos .swiper-container .swiper-wrapper .swiper-slide a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media (max-width: 640px) {
            .section_videos .swiper-container .swiper-wrapper .swiper-slide a .video_btn {
              display: none; } }
          .section_videos .swiper-container .swiper-wrapper .swiper-slide a img {
            width: 4vw; }
            @media (max-width: 640px) {
              .section_videos .swiper-container .swiper-wrapper .swiper-slide a img {
                width: 12.5vw; } }
    .section_videos .swiper-container .videos-pagination {
      display: none; }
    .section_videos .swiper-container .swiper-pagination-bullet {
      width: 2.5vw;
      height: 2.5vw;
      background: white;
      opacity: 1; }
    .section_videos .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 1.56vw !important; }
    .section_videos .swiper-container .swiper-pagination-bullets, .section_videos .swiper-container .swiper-pagination-custom, .section_videos .swiper-container .swiper-pagination-fraction {
      bottom: 2.12vw; }
    .section_videos .swiper-container .swiper-pagination-bullet-active {
      background: #1f2853;
      outline: none; }
      .section_videos .swiper-container .swiper-pagination-bullet-active:focus {
        outline: none; }

/*section2*/
.section2 {
  background: #1f2853;
  height: 15.625vw; }
  @media (max-width: 640px) {
    .section2 {
      height: auto; } }
  .section2 .container_small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative; }
    @media (max-width: 640px) {
      .section2 .container_small {
        height: 100%;
        position: relative;
        flex-direction: column; } }
    .section2 .container_small .btn_brown, .section2 .container_small .btn_blue {
      margin-top: 4%;
      z-index: 1; }
      @media (max-width: 640px) {
        .section2 .container_small .btn_brown, .section2 .container_small .btn_blue {
          position: absolute; } }
    @media (max-width: 640px) {
      .section2 .container_small .btn_blue {
        top: 33.316vw; } }
    @media (max-width: 640px) {
      .section2 .container_small .btn_brown {
        top: 68vw; } }

.coupon_btn {
  position: absolute;
  right: 11.1984vw;
  top: 4%;
  width: 23.33vw; }
  @media (max-width: 640px) {
    .coupon_btn {
      display: none; } }

.buy_btn_mob, .coupon_btn_mob {
  display: none; }
  @media (max-width: 640px) {
    .buy_btn_mob, .coupon_btn_mob {
      display: block; }
      .buy_btn_mob > img, .coupon_btn_mob > img {
        height: 100%;
        width: auto; } }

@media (max-width: 640px) {
  .buy_btn_mob {
    height: 39.3811vw; } }

@media (max-width: 640px) {
  .coupon_btn_mob {
    height: 50.4766vw; } }

/*section3*/
.section3 {
  background: url("../img/schoko_back_desk.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative; }
  @media (max-width: 640px) {
    .section3 {
      background: url("../img/schoko_back_mob.jpg") no-repeat;
      background-position: left center;
      background-size: cover;
      height: 127.52vw; } }
  .section3 .section_title {
    position: relative;
    top: 2.3438vw;
    text-align: center; }
    .section3 .section_title > div:last-of-type {
      position: absolute;
      top: 0;
      left: 18vw; }
      @media (max-width: 640px) {
        .section3 .section_title > div:last-of-type {
          top: 6.5vw;
          left: 1vw; } }
    .section3 .section_title > div img {
      max-width: 13.02151153vw; }
      @media (max-width: 640px) {
        .section3 .section_title > div img {
          max-width: 23vw; } }
    .section3 .section_title > div h4 {
      line-height: 1.4vw; }
      @media (max-width: 640px) {
        .section3 .section_title > div h4 {
          line-height: 4vw; } }
    @media (max-width: 640px) {
      .section3 .section_title > div h2 {
        margin-left: 12.5019vw; } }
  .section3 .bottle_container_desk .bottle_container, .section3 .bottle_container_mob .bottle_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .section3 .bottle_container_desk .bottle_container .top_container, .section3 .bottle_container_mob .bottle_container .top_container {
      max-height: 70.323vw;
      position: relative;
      width: 100%;
      height: 100%; }
      .section3 .bottle_container_desk .bottle_container .top_container .bottle, .section3 .bottle_container_mob .bottle_container .top_container .bottle {
        position: absolute;
        top: 0;
        width: 100%; }
    .section3 .bottle_container_desk .bottle_container .bottom_container, .section3 .bottle_container_mob .bottle_container .bottom_container {
      margin-top: 1.385vw;
      margin-bottom: 4.4273vw;
      font-size: 4.06vw;
      font-weight: bold; }
      @media (max-width: 640px) {
        .section3 .bottle_container_desk .bottle_container .bottom_container, .section3 .bottle_container_mob .bottle_container .bottom_container {
          font-size: 11.25vw;
          line-height: 9vw;
          margin-top: 0; } }
    .section3 .bottle_container_desk .bottle_container .btn_values, .section3 .bottle_container_mob .bottle_container .btn_values {
      width: 100%;
      bottom: 0;
      right: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 640px) {
        .section3 .bottle_container_desk .bottle_container .btn_values, .section3 .bottle_container_mob .bottle_container .btn_values {
          width: 10.5vw;
          position: absolute;
          right: 6.25vw;
          bottom: -5.2vw;
          opacity: 0;
          transition: opacity .2s ease-in-out; } }
      .section3 .bottle_container_desk .bottle_container .btn_values span, .section3 .bottle_container_mob .bottle_container .btn_values span {
        text-align: center;
        font-size: 3.5vw;
        font-weight: 100;
        line-height: 3.2vw;
        margin-top: .3vw; }
  .section3 .bottle_container_desk {
    display: flex;
    padding-top: 6vw;
    justify-content: center; }
    @media (max-width: 640px) {
      .section3 .bottle_container_desk {
        display: none; } }
    .section3 .bottle_container_desk .bottle_container {
      width: 31.25vw; }
      .section3 .bottle_container_desk .bottle_container .top_container .bottle {
        transition: all .3s ease-in-out; }
        .section3 .bottle_container_desk .bottle_container .top_container .bottle:hover {
          transform: scale(1.1); }
      .section3 .bottle_container_desk .bottle_container:first-of-type .bottom_container {
        margin-right: 22.709vw; }
      .section3 .bottle_container_desk .bottle_container:first-of-type .top_container .soon {
        max-width: 11vw;
        position: relative;
        right: 14vw;
        bottom: 7vw; }
      .section3 .bottle_container_desk .bottle_container:nth-of-type(2) .bottom_container {
        margin-right: 7.083vw; }
      .section3 .bottle_container_desk .bottle_container:last-of-type .bottom_container {
        margin-left: 14.5322vw; }
      .section3 .bottle_container_desk .bottle_container:last-of-type .top_container .soon {
        max-width: 11vw;
        position: relative;
        left: 5vw;
        bottom: 7vw; }
    .section3 .bottle_container_desk .bottom_container {
      display: flex; }
      .section3 .bottle_container_desk .bottom_container .btn_values {
        width: 4.01vw;
        margin-right: 1vw;
        position: relative;
        bottom: 1.56vw; }
        .section3 .bottle_container_desk .bottom_container .btn_values span {
          text-align: center;
          font-size: 1.3vw;
          font-weight: 100;
          line-height: 1.1vw;
          margin-top: .2vw; }
  .section3 .bottle_container_mob {
    display: none;
    margin-top: 17.0339vw;
    height: 92.4205vw; }
    .section3 .bottle_container_mob .swiper-container {
      height: 100%; }
    .section3 .bottle_container_mob .swiper-pagination-bullet {
      width: 2.812vw;
      height: 2.812vw;
      background: white;
      opacity: 1; }
    .section3 .bottle_container_mob .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 1.8vw; }
    .section3 .bottle_container_mob .swiper-container-horizontal > .swiper-pagination-bullets, .section3 .bottle_container_mob .swiper-pagination-custom, .section3 .bottle_container_mob .swiper-pagination-fraction {
      bottom: 4vw; }
    .section3 .bottle_container_mob .swiper-pagination-bullet-active {
      background: #1f2853;
      outline: none; }
      .section3 .bottle_container_mob .swiper-pagination-bullet-active:focus {
        outline: none; }
    .section3 .bottle_container_mob .top_container .soon {
      max-width: 20vw;
      position: relative;
      left: -31vw;
      bottom: 16vw; }
    @media (max-width: 640px) {
      .section3 .bottle_container_mob {
        display: block; } }
  .section3 .popup_values {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(58, 118, 187, 0.9);
    width: 100%;
    z-index: 1;
    display: none;
    opacity: 0; }
    .section3 .popup_values.on {
      display: block;
      opacity: 1;
      animation: anim .5s ease-in-out; }
    @media (max-width: 640px) {
      .section3 .popup_values {
        position: absolute;
        background: #3a76bb;
        height: 127.52vw;
        background: #3a76bb;
        width: 100%;
        padding: 9.38vw 4.56vw;
        top: 0; } }
    .section3 .popup_values .close_popup_values {
      margin-top: 4vw;
      margin-right: 10vw;
      margin: 2.5vw auto;
      text-align: center;
      margin-left: 34.5vw;
      margin-bottom: 2vw; }
      @media (max-width: 640px) {
        .section3 .popup_values .close_popup_values {
          margin: 0;
          margin-bottom: 10.43vw;
          text-align: right; } }
      .section3 .popup_values .close_popup_values a {
        display: inline-block;
        width: 3vw; }
        @media (max-width: 640px) {
          .section3 .popup_values .close_popup_values a {
            width: 9.12vw; } }
    .section3 .popup_values .tabel_container {
      padding: 1.3vw 1.95vw 1.3vw 1.86vw;
      background: #9dbbdd;
      margin: 0 auto;
      width: 38vw; }
      @media (max-width: 640px) {
        .section3 .popup_values .tabel_container {
          padding: 1.30vw 4.95vw 1.30vw 2.86vw;
          width: auto; } }
      .section3 .popup_values .tabel_container table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        display: none; }
        .section3 .popup_values .tabel_container table.on {
          display: table; }
        .section3 .popup_values .tabel_container table tr td, .section3 .popup_values .tabel_container table tr th {
          border-bottom: 0.2vw dashed black;
          color: black;
          height: 3.5vw;
          font-size: 1.5vw;
          font-weight: 300; }
          @media (max-width: 640px) {
            .section3 .popup_values .tabel_container table tr td, .section3 .popup_values .tabel_container table tr th {
              height: 6.51vw;
              font-size: 4.22vw; } }
          .section3 .popup_values .tabel_container table tr td:first-of-type, .section3 .popup_values .tabel_container table tr th:first-of-type {
            border-left: 0.2vw dashed black; }
        .section3 .popup_values .tabel_container table tr td:last-of-type {
          text-align: center; }
        .section3 .popup_values .tabel_container table tr th {
          font-size: 2vw;
          font-weight: 500; }
          @media (max-width: 640px) {
            .section3 .popup_values .tabel_container table tr th {
              font-size: 6vw; } }
          .section3 .popup_values .tabel_container table tr th:first-of-type {
            border-left: 0.2vw dashed black;
            text-align: right; }
        .section3 .popup_values .tabel_container table tr:last-of-type td {
          border-bottom: none; }

.bottle_swiper .swiper-slide-active .btn_values {
  opacity: 1 !important; }

/*section4*/
.section4 {
  padding: 3.125vw 0; }
  .section4 .container_small {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  @media (max-width: 640px) {
    .section4 {
      display: none; } }

/*section5*/
.section5 {
  background: url("../img/more_back_desk.jpg") no-repeat;
  background-size: cover; }
  @media (max-width: 640px) {
    .section5 {
      background: url(../img/more_back_mob.jpg) no-repeat;
      background-size: 100%;
      background-position: center top;
      margin-top: 6.25vw; } }
  .section5 h2 {
    padding: 3.646vw 0 4.4273vw 0;
    text-align: center;
    font-weight: 100; }
    @media (max-width: 640px) {
      .section5 h2 {
        padding: 5vw 0 5vw 0; } }
  .section5 .container_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.89vw; }
    @media (max-width: 640px) {
      .section5 .container_imgs {
        background: #1f2853;
        padding-bottom: 8vw;
        flex-wrap: wrap; } }
    .section5 .container_imgs .img_cont {
      width: 16.2508vw;
      height: 16.2508vw;
      position: relative;
      margin: 0 0.3906vw; }
      .section5 .container_imgs .img_cont > a {
        display: inline-block;
        width: 100%;
        height: 100%; }
      @media (max-width: 640px) {
        .section5 .container_imgs .img_cont {
          width: 89.076vw;
          height: 39.0686vw;
          margin: 0 5.46vw;
          margin-bottom: 20vw; } }
      .section5 .container_imgs .img_cont:nth-of-type(1) {
        background: url("../img/more1.jpg") no-repeat;
        background-size: cover; }
        @media (max-width: 640px) {
          .section5 .container_imgs .img_cont:nth-of-type(1) {
            background: url("../img/more1_m.jpg") no-repeat;
            background-size: cover; } }
      .section5 .container_imgs .img_cont:nth-of-type(2) {
        background: url("../img/more2.jpg") no-repeat;
        background-size: cover; }
        @media (max-width: 640px) {
          .section5 .container_imgs .img_cont:nth-of-type(2) {
            background: url("../img/more2_m.jpg") no-repeat;
            background-size: cover; } }
      .section5 .container_imgs .img_cont:nth-of-type(3) {
        background: url("../img/more3.jpg") no-repeat;
        background-size: cover; }
        @media (max-width: 640px) {
          .section5 .container_imgs .img_cont:nth-of-type(3) {
            background: url("../img/more3_m.jpg") no-repeat;
            background-size: cover; } }
      .section5 .container_imgs .img_cont:nth-of-type(4) {
        background: url("../img/more4.jpg") no-repeat;
        background-size: cover; }
        @media (max-width: 640px) {
          .section5 .container_imgs .img_cont:nth-of-type(4) {
            background: url("../img/more4_m.jpg") no-repeat;
            background-size: cover; } }
      .section5 .container_imgs .img_cont .description {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: #1f2853;
        font-size: 1.3vw;
        text-align: center;
        line-height: 1.4vw;
        top: 18vw;
        background: rgba(255, 255, 255, 0); }
        .section5 .container_imgs .img_cont .description > div {
          margin: 0 auto; }
        .section5 .container_imgs .img_cont .description .strong_txt {
          font-weight: 100;
          font-size: 1.5vw;
          line-height: 1.4vw;
          color: white;
          max-width: 100%; }
          @media (max-width: 640px) {
            .section5 .container_imgs .img_cont .description .strong_txt {
              font-size: 5.625vw;
              line-height: 5.725vw; } }
        @media (max-width: 640px) {
          .section5 .container_imgs .img_cont .description {
            display: block;
            opacity: 1;
            position: relative;
            top: calc(100% + 3.59vw);
            bottom: auto;
            background: none;
            color: white;
            font-size: 4.844vw;
            line-height: 4.944vw; } }

/*footer*/
footer {
  background: url("../img/fotter_desk.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
  height: 14.375vw;
  position: relative;
  margin-top: -1px; }
  @media (max-width: 640px) {
    footer {
      background: url("../img/fotter_mob.jpg") no-repeat;
      background-size: cover;
      background-position: center top;
      height: 54.696vw;
      margin-top: -1px; } }
  footer .fotter_wrap {
    position: absolute;
    left: 15.1049vw;
    top: 2.8647vw;
    display: flex; }
    @media (max-width: 640px) {
      footer .fotter_wrap {
        position: relative;
        left: 0;
        right: 0;
        top: 36vw;
        align-items: center;
        flex-direction: column-reverse; } }
    footer .fotter_wrap .media_social {
      margin-left: 1.45vw; }
      footer .fotter_wrap .media_social > div a {
        margin: 0 0.65vw; }
        @media (max-width: 640px) {
          footer .fotter_wrap .media_social > div a {
            margin: 0 5.625vw; } }
        footer .fotter_wrap .media_social > div a i {
          color: #672e24; }
          @media (max-width: 640px) {
            footer .fotter_wrap .media_social > div a i {
              color: #1f2853;
              font-size: 9.37vw; } }
    footer .fotter_wrap .logo_container {
      width: 7.812906vw; }
      @media (max-width: 640px) {
        footer .fotter_wrap .logo_container {
          width: 25.0039vw;
          position: absolute;
          bottom: 16.534vw;
          left: 7.0323vw; } }

/*popup_video*/
.popup_video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: black;
  z-index: 20;
  display: none;
  opacity: 0; }
  @media (max-width: 640px) {
    .popup_video {
      position: absolute;
      top: 22.5vw;
      background: black;
      height: 57.04vw; } }
  .popup_video.on {
    display: block;
    opacity: 1;
    animation: anim .3s ease-in-out; }
  .popup_video .popup_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    margin-top: 1.56vw;
    max-width: 117vh;
    width: 100%; }
    @media (max-width: 640px) {
      .popup_video .popup_wrap {
        margin-top: 0; } }
  .popup_video .close_popup {
    width: 6vh;
    position: absolute;
    right: -7%; }
    @media (max-width: 640px) {
      .popup_video .close_popup {
        display: none; } }
  .popup_video .video_container {
    width: 100%; }
    .popup_video .video_container .video_link {
      display: flex;
      opacity: 1;
      animation: animF .3s ease-in-out; }
      .popup_video .video_container .video_link.video_on {
        display: none;
        opacity: 0; }
    .popup_video .video_container .close_popup_mob {
      display: none;
      width: 4vw;
      margin: 1.5vw 3.8vw; }
      .popup_video .video_container .close_popup_mob a {
        display: inline-block; }
      @media (max-width: 640px) {
        .popup_video .video_container .close_popup_mob {
          display: block; } }
    .popup_video .video_container .active_video {
      background: lightblue;
      margin-bottom: 1.56vw; }
      .popup_video .video_container .active_video .active_video_wrap {
        position: relative;
        width: 100%; }
        .popup_video .video_container .active_video .active_video_wrap:after {
          content: "";
          display: block;
          padding-bottom: 56.05%; }
          @media (max-width: 640px) {
            .popup_video .video_container .active_video .active_video_wrap:after {
              padding-bottom: 50.2%; } }
        .popup_video .video_container .active_video .active_video_wrap #player {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
    .popup_video .video_container .more_videos {
      height: 25vh;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 640px) {
        .popup_video .video_container .more_videos {
          display: none; } }
      .popup_video .video_container .more_videos a {
        width: 32.5%;
        height: 100%; }

.popup_article {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(58, 118, 187, 0.9);
  width: 100%;
  z-index: 12;
  display: none;
  opacity: 0; }
  .popup_article.on {
    display: block;
    opacity: 1;
    animation: anim .5s ease-in-out; }
  @media (max-width: 640px) {
    .popup_article {
      height: auto;
      width: 100%;
      padding: 9.38vw 4.56vw;
      top: 0;
      bottom: 0; } }
  .popup_article .close_popup_article {
    margin-top: 4vw;
    margin-right: 10vw;
    margin: 2.5vw auto;
    text-align: center;
    margin-left: 34.5vw;
    margin-bottom: 2vw; }
    @media (max-width: 640px) {
      .popup_article .close_popup_article {
        margin: 0;
        margin-bottom: 10.43vw;
        text-align: right; } }
    .popup_article .close_popup_article a {
      display: inline-block;
      width: 3vw; }
      @media (max-width: 640px) {
        .popup_article .close_popup_article a {
          width: 9.12vw; } }
  .popup_article .article_container {
    padding: 1.3vw;
    background: #9dbbdd;
    margin: 0 auto;
    width: 38vw;
    display: none;
    color: #1f2853; }
    .popup_article .article_container > div {
      max-height: 75vh;
      overflow-y: scroll;
      padding-left: 1vw; }
      @media (max-width: 640px) {
        .popup_article .article_container > div {
          max-height: 73vh;
          padding-left: 3vw; } }
      .popup_article .article_container > div .title {
        text-align: center;
        font-size: 1.3vw; }
        @media (max-width: 640px) {
          .popup_article .article_container > div .title {
            font-size: 5vw;
            font-weight: 600;
            line-height: 5.5vw; } }
      .popup_article .article_container > div p, .popup_article .article_container > div li {
        font-size: 1.1vw;
        font-weight: 100; }
        @media (max-width: 640px) {
          .popup_article .article_container > div p, .popup_article .article_container > div li {
            font-size: 4.7vw; } }
      .popup_article .article_container > div h5 {
        font-size: 1.1vw;
        font-weight: 500;
        margin-top: 1.3vw;
        margin-bottom: .3vw; }
        @media (max-width: 640px) {
          .popup_article .article_container > div h5 {
            font-size: 4.7vw;
            line-height: 5vw;
            margin-top: 3.3vw;
            margin-bottom: 1.6vw; } }
      .popup_article .article_container > div ol li {
        margin-bottom: .7vw; }
      @media (max-width: 640px) {
        .popup_article .article_container > div ol {
          padding-right: 5vw; }
          .popup_article .article_container > div ol li {
            margin-bottom: 2.2vw; } }
    .popup_article .article_container.on {
      display: block; }
    @media (max-width: 640px) {
      .popup_article .article_container {
        padding: 1.30vw 4.95vw 1.30vw 2.86vw;
        width: auto; } }

@keyframes anim {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes animF {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: flex;
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes animR {
  0% {
    opacity: 1; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
.more_videos .video_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .more_videos .video_link img {
    width: 4vw; }

.section_videos .swiper-slide .video_link {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*# sourceMappingURL=general.css.map */
